* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 1em;
    background-color: #fff;
    color: #333;
}

.search-bar button {
    padding: 10px;
    width: 10%;
    border: none;
    background-color: #00aaff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.search-bar button:hover {
    background-color: #007acc;
}

.weather-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-detail {
    text-align: left;
}

.weather-detail p {
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0;
}

.weather-time p {
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0;
}

.weather-info i {
    margin-left: 10px;
}

.forecast {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.forecast h2 {
    margin-bottom: 10px;
    color: #fff;
}

.forecast-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100px;
    margin: 10px;
    text-align: center;
}

.forecast-card p {
    margin: 5px 0;
    color: #fff;
}

.forecast-card i {
    font-size: 1.5em;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .weather-card {
        padding: 15px;
    }

    .weather-info {
        flex-direction: column;
    }

    .weather-detail p, .weather-time p {
        font-size: 1em;
    }

    .forecast-cards {
        justify-content: center;
    }

    .forecast-card {
        width: 80px;
    }
}
